In [1]:
from zipfile import ZipFile
import pandas as pd
import os

# Modulo3

## Aula 1

In [2]:
cwd = os.getcwd()
caminho = os.path.join(cwd, 'PeNSE_2015_AMOSTRA2.zip')

zip = ZipFile(caminho)
caminho_pasta_zipada = zip.namelist()[1]

dados = pd.read_csv(zip.open(caminho_pasta_zipada), sep=';', thousands='.', decimal=',')
dados.head()

,ANOPESQ,PAIS,REGEOGR,VB00004,VB01001,VB01002,VB01003,VB01004,VB01005,VB01006,...,ESTRATO_EXP,ESTRATOGEOREG,PESO,V0006,V0007,V0008,V0041,aluno,escola,turma
0,2015,76,1,1,2,1,13,7,7,1,...,1223,1,299.735235,1,2,4,1,1,1,296
1,2015,76,1,1,2,1,14,4,7,1,...,1223,1,355.170081,1,2,4,1,2,1,296
2,2015,76,1,1,1,4,13,6,7,1,...,1223,1,299.735235,1,2,4,1,3,1,296
3,2015,76,1,1,1,1,14,6,7,1,...,1223,1,355.170081,1,2,4,1,4,1,296
4,2015,76,1,1,1,1,13,9,7,1,...,1223,1,299.735235,1,2,4,1,5,1,296

In [3]:
dados.shape

(16556, 181)

In [4]:
dados.columns

Index(['ANOPESQ', 'PAIS', 'REGEOGR', 'VB00004', 'VB01001', 'VB01002',
       'VB01003', 'VB01004', 'VB01005', 'VB01006',
       ...
       'ESTRATO_EXP', 'ESTRATOGEOREG', 'PESO', 'V0006', 'V0007', 'V0008',
       'V0041', 'aluno', 'escola', 'turma'],
      dtype='object', length=181)

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

In [6]:
#dados.select_dtypes(include='object')
dados.select_dtypes(include='float')

,TEMPODESLOC,TEMPOTOTAL,TEMPOEDFIS,TEMPOEXTRA,TEMPOEST,VB17001,VB17002,VB17003,VB17004,PESO
0,0.0,15.0,0.0,15.0,60.0,371.0,1570.0,37.1,157.0,299.735235
1,120.0,510.0,260.0,130.0,300.0,502.0,1520.0,50.2,152.0,355.170081
2,0.0,585.0,130.0,455.0,420.0,482.0,1614.0,48.2,161.4,299.735235
3,0.0,0.0,0.0,0.0,0.0,694.0,1725.0,69.4,172.5,355.170081
4,30.0,165.0,90.0,45.0,60.0,789.0,1675.0,78.9,167.5,299.735235
...,...,...,...,...,...,...,...,...,...,...
16551,30.0,400.0,110.0,260.0,240.0,567.0,1679.0,56.7,167.9,447.815539
16552,20.0,800.0,325.0,455.0,240.0,619.0,1858.0,61.9,185.8,592.507440
16553,0.0,0.0,0.0,0.0,60.0,609.0,1594.0,60.9,159.4,401.131512
16554,75.0,215.0,35.0,105.0,120.0,473.0,1578.0,47.3,157.8,442.718091
16555,50.0,485.0,110.0,325.0,360.0,626.0,1639.0,62.6,163.9,592.507440

### Desafio 01 - Descompactar a pasta zipada usando outro método (Dica Allan, é utilizar comandos Bash).

In [7]:
# lista dos arquivos no diretório atual
#!ls

In [8]:
#extraindo aruivos
#!unzip {caminho}

In [9]:
# listando novamente diretório atual após a extração
#!ls

### Desafio 02 - Estudar sobre a base de dados que vamos trabalhar. (PeNSE - 2015 Amostra 2)

Nota metodológica: [Especificações de tabelas e indicadores
Amostra 2](https://ftp.ibge.gov.br/pense/2015/microdados/Notas_Metodologicas/Nota_metodologica_03_especificacao_tabelas_Amostra_2_20180514.pdf)

A construção das tabelas obedeceu o seguinte princípio:
- **Nas linhas são apresentados resultados para três grupos de idades:** 13 a 17
anos, 13 a 15 anos e 16 e 17 anos. Os níveis de desagregação geográfica
(Brasil e Grandes Regiões) estão dispostos abaixo dos grupos de idade
supracitados.


- **Nas colunas são apresentados os percentuais resultantes de filtros aplicados.**
Eventualmente, sexo e dependência administrativa da escola são utilizados
como filtro.

### Desafio 03 - Classificar algumas perguntas como QualitativaXQuantitativa

**Qualitativos:** denota caracteristicas que não são quantificaveis

Nominal: denota qualidade que não pode ser ordenada

Ordinal: denota qualidade que pode ser ordenada


**Quantitativos:** denota caracteristicas que são quantificaveis

contínuo: que possuí número números depois da virgula denotando uma continuidade

discreto: que não possuí número números depois da virgula é expressado apenas em um número inteiro

In [10]:
tipos_de_dados = pd.read_csv('tipos-perguntas.csv')
tipos_de_dados.head()

,VARIÁVEL,PERGUNTA,tipo de dado,subtipo
0,ANOPESQ,Ano em que a pesquisa foi realizada,qualitativo,ordinal
1,PAIS,País,qualitativo,nominal
2,REGEOGR,Região geográfica,qualitativo,nominal
3,VB00004,"Prezado(a) estudante, você concorda em partici...",qualitativo,nominal
4,VB01001,Qual é o seu sexo?,qualitativo,nominal

In [11]:
tipos_de_dados.loc[(tipos_de_dados['tipo de dado'] == 'quantitativo') &
                   (tipos_de_dados['subtipo'] == 'discreto')]

,VARIÁVEL,PERGUNTA,tipo de dado,subtipo
6,VB01003,Qual é a sua idade?,quantitativo,discreto
17,VB01010A,"Contando com você, quantas pessoas moram na su...",quantitativo,discreto
24,VB01019,Quantos banheiros com chuveiro têm dentro da s...,quantitativo,discreto

In [12]:
tipos_de_dados.loc[(tipos_de_dados['tipo de dado'] == 'quantitativo') &
                   (tipos_de_dados['subtipo'] == 'contínuo')]

Empty DataFrame
Columns: [VARIÁVEL, PERGUNTA, tipo de dado, subtipo]
Index: []

In [13]:
tipos_de_dados.loc[(tipos_de_dados['tipo de dado'] == 'qualitativo') &
                   (tipos_de_dados['subtipo'] == 'nominal')]

,VARIÁVEL,PERGUNTA,tipo de dado,subtipo
1,PAIS,País,qualitativo,nominal
2,REGEOGR,Região geográfica,qualitativo,nominal
3,VB00004,"Prezado(a) estudante, você concorda em partici...",qualitativo,nominal
4,VB01001,Qual é o seu sexo?,qualitativo,nominal
5,VB01002,Qual é a sua cor ou raça?,qualitativo,nominal
10,VB01022,Em que turno você estuda?,qualitativo,nominal
11,VB01023,Você estuda em regime integral (tem atividades...,qualitativo,nominal
12,VB01024,Você estuda em regime de internato (a escola p...,qualitativo,nominal
14,VB01026,Quando terminar o ciclo/curso que você está fr...,qualitativo,nominal
15,VB01006,Você mora com sua mãe?,qualitativo,nominal
16,VB01007,Você mora com seu pai?,qualitativo,nominal
18,VB01013,Na sua casa tem telefone fixo (convencional)?,qualitativo,nominal
19,VB01014,Você tem celular?,qualitativo,nominal
20,VB01015A,"Na sua casa tem computador (de mesa, ou netboo...",qualitativo,nominal
21,VB01016,Você tem acesso à internet em sua casa?,qualitativo,nominal
22,VB01017,Alguém que mora na sua casa tem carro?,qualitativo,nominal
23,VB01018,Alguém que mora na sua casa tem moto?,qualitativo,nominal

In [14]:
tipos_de_dados.loc[(tipos_de_dados['tipo de dado'] == 'qualitativo') &
                   (tipos_de_dados['subtipo'] == 'ordinal')]

,VARIÁVEL,PERGUNTA,tipo de dado,subtipo
0,ANOPESQ,Ano em que a pesquisa foi realizada,qualitativo,ordinal
7,VB01004,Qual é o mês do seu aniversário?,qualitativo,ordinal
8,VB01005,Em que ano você nasceu?,qualitativo,ordinal
9,VB01021,Em que ano/série você está?,qualitativo,ordinal
13,VB01025,Qual o grau de escolaridade mais elevado que v...,qualitativo,ordinal

## Aula 2

In [15]:
dados['VB01001'].value_counts()

1    8287
2    8269
Name: VB01001, dtype: int64

In [16]:
dados['VB01001'].value_counts(normalize=True)*100

1    50.054361
2    49.945639
Name: VB01001, dtype: float64

In [17]:
frequencia = dados['VB11007'].value_counts()
frequencia

2     6920
1     4608
4     2326
3     1807
5      714
99     181
Name: VB11007, dtype: int64

In [18]:
percentual = dados['VB11007'].value_counts(normalize=True)*100
percentual

2     41.797536
1     27.832810
4     14.049287
3     10.914472
5      4.312636
99     1.093259
Name: VB11007, dtype: float64

In [20]:
respostas = {1: 'muito Satisfeito',
             2: 'Satisfeito',
             3: 'Indiferente',
             4: 'Insatisfeito',
             5: 'Muito Insatisfeito',
             99: 'Não Informado'}
dist_freq = pd.DataFrame({'Frequencia': frequencia, 'Percentual': percentual})
dist_freq.rename(index = respostas, inplace=True)
dist_freq.rename_axis('Sentimento em relação ao seu corpo', axis=1, inplace=True)
dist_freq

Sentimento em relação ao seu corpo  Frequencia  Percentual
Satisfeito                                6920   41.797536
muito Satisfeito                          4608   27.832810
Insatisfeito                              2326   14.049287
Indiferente                               1807   10.914472
Muito Insatisfeito                         714    4.312636
Não Informado                              181    1.093259

### desafio 04: criar uma função para gerar as tabelas de frequência e fazer a análise de outras informações.

In [28]:
def criar_frequencia(df, dict_index, name_index):    
    freq = df.value_counts()
    percent = df.value_counts(normalize=True)*100
    
    tab_frequencia = pd.DataFrame({'Frequencia': freq, 'Percentual': percent})
    tab_frequencia.rename(index = dict_index, inplace=True)
    tab_frequencia.rename_axis(name_index, axis=1, inplace=True) 
    
    return tab_frequencia

In [29]:
nome_index = 'Sentimento em relação ao seu corpo'
desafio_04 = criar_frequencia(dados['VB11007'],respostas, nome_index)
desafio_04

Sentimento em relação ao seu corpo  Frequencia  Percentual
Satisfeito                                6920   41.797536
muito Satisfeito                          4608   27.832810
Insatisfeito                              2326   14.049287
Indiferente                               1807   10.914472
Muito Insatisfeito                         714    4.312636
Não Informado                              181    1.093259